@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fontello.css");
@import url("./roboto.css");

@layer components {
    .line {
        @apply h-1 rounded-md bg-primary-dark
    }

    .line-toggler-full {
        @apply w-full;
    }

    .line-toggler-half {
        @apply w-[70%] mr-auto;
    }

    .active-scroll {
        @apply bg-white;
    }
}

:root {
    --degree-toggler-menu: 135deg;
    --custom-btn-padding: 1rem 1.5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    /* height: 30000px; */
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 0.4em;
    background-color: transparent !important;
}

body::-webkit-scrollbar-track {
    background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
    border-radius: 4.5rem;
    background-color: #B03945 !important;
}

.sec-padding-12 {
    padding-block: 12rem;
}

.btn {
    padding: var(--custom-btn-padding);
}

.custom-btn-default {
    padding: 0.6rem 1.5rem;
    color: #a82d49;
    background-color: #FFFEFE;
}

.transition-1\/2 {
    transition: all 0.5s ease-in-out;
}

.rotate-left-45 {
    transform: rotate(var(--degree-toggler-menu)) translateY(-0.8rem);
}

.scale-hide {
    transform: scale(3);
    visibility: hidden;
    opacity: 0;
}

.rotate-right-45 {
    transform: rotate(calc(var(--degree-toggler-menu) * -1)) translateY(0.8rem);
}

@media (max-width: 1023px) {
    .landing {
        background-image: none !important;
    }
}